extends layout

block content
  .container
    h1.heading= title
    p Welcome to #{title}
    form
      input(type="text", id="txtCity", name="txtCity", placeholder="Please Enter a City:")
      input(type="submit", value="Go")
  div.container
    ul#cities