extends layout

block content
  .container
    h1.heading= title
    p Welcome to #{title}
    form
      input(type="text", name="txtCity", placeholder="Please Enter a City:")
      input(type="button", value="Go")