doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    footer.page-footer
        .container
          hr
          p Made with lots of love
  script(src="/javascripts/main.js")